{% extends "layout.html" %}

{% block title %}
    Reset Password/Username
{% endblock %}

{% block main %}
<div class="container mt-5">
    <h2 class="text-center">Confirm old Password</h2>
    <form class="mt-3" action="/reset" method="post">
      <div class="mb-3">
        <label for="currentPassword" class="form-label">Current Password *</label>
        <input type="password" placeholder="confirm old Password reseting" class="form-control" id="currentPassword" name="currentPassword" required>
      </div>
      <h2 class="text-center text-danger ">Update Username and/or Password</h2>
      <div class="mb-3">
        <label for="newUsername" class="form-label">New Username</label>
        <input type="text" class="form-control" placeholder="new Username" name="newUsername">
      </div>
      
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" placeholder="new Password" name="newPassword">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
  
{% endblock %}